<div id="formInline" class="form__add">
  <h2>{{headerTitle}}</h2>

  <div class="input-group mb-3">
    <!-- {{input name=nameLabel value=this.model placeholder="Deschutes River State Recreation Area" required=true class="form-control"}} -->
    {{yield}} <!-- yields to form field -->

    <div class="input-group-append">
      <button {{action "updateModel" this.model}} class="btn btn-primary" type="button">
        {{buttonText}}
      </button>
    </div>
  </div>
</div>
