{{!-- NOTE: Not sure why this integration test is failing...More research required --}}

{{#side-menu}}
  <header class="navbar navbar-default">
    <div class="navbar-header">
      <h2>{{sidebarHeader}}</h2>
      {{#side-menu-toggle}}
        {{fa-icon "times"}}
      {{/side-menu-toggle}}
    </div>
  </header>

  <CampgroundList @list={{list}} @buttonText="Add Campground" />
{{/side-menu}}

{{content-backdrop}}

{{yield}}
