{{!-- NOTE: Not sure why this integration test is failing...More research required --}}
{{!-- NOTE: Sidebar is borrowed from : https://bootstrapious.com/p/bootstrap-sidebar --}}


<nav id="sidebar" class="sidebar {{if this.storageSvc.sidebarActive "sidebar--active" "sidebar--inactive"}} {{if this.storageSvc.isInAddRoute "sidebar--hide"}}">
  <ul class="m-0 p-0 d-block h-100 d-flex align-items-stretch flex-column">
    <CampgroundList @list={{list}} />

    <li class="d-block sidebar__list-item sidebar__list-item--add mt-auto">
      {{#link-to "add" class="p-2 d-block"}}
        {{fa-icon "plus-square"}}
        {{buttonText}}
      {{/link-to}}
    </li>
  </ul>
</nav>

{{yield}}
