<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <!-- sidebar toggle -->
  <button {{action "toggleSidebar"}} type="button" id="sidebarCollapse" class="btn btn-light sidebar-toggle">
    {{fa-icon "bars"}}
  </button>

  <!-- linked icon -->
  <div>
    {{#link-to "index"}}
      {{fa-icon "campground"}}
      {{headerTitle}}
    {{/link-to}}
  </div>
</nav>

{{yield}}
