{{!-- NOTE: this duplication of site header, wrapper, sidebar, and site footer feels gross. figure out a solution and refactor! --}}

<SiteHeader @headerTitle="List O' Campgrounds" />

<div class="wrapper d-flex w-100 align-items-stretch">
  <Sidebar @list={{this.model.list}} @buttonText="Add Campground" class="d-flex" />

  <main class="d-flex flex-column w-100 justify-content-around align-items-center">
    <InlineForm @headerTitle="Add Campground" >
      <CampgroundAdd @model={{this.model.form}} @submit={{action "submitCreate"}} @nameLabel="Name" @buttonText="Submit" />
    </InlineForm>

    <Modal @headerTitle="Add Campground" @close={{action "goHome"}}>
      <CampgroundAdd @model={{this.model.form}} @submit={{action "submitCreate"}} @nameLabel="Name" @buttonText="Submit" />
    </Modal>

    <SiteFooter @buttonText="Reset State" />
  </main>
</div>
