<!-- <SiteHeader @headerTitle="List O' Campgrounds" />

<div class="wrapper d-flex w-100 align-items-stretch">
  <Sidebar @list={{this.model}} @buttonText="Add Campground" class="d-flex" />

  <main class="d-flex flex-column w-100 justify-content-around align-items-center">
    {{outlet}} -->
    <CampgroundAdd @model={{this.model}} @headerTitle="Add New Campground" @nameLabel="Name" @buttonText="Submit">
      {{input name=nameLabel value=this.model placeholder="Deschutes River State Recreation Area" required=true class="form-control"}}
    </CampgroundAdd>

    <Modal @model={{this.model}} @headerTitle="Add New Campground" @nameLabel="Name" @buttonText="Submit">
      {{input name=nameLabel value=this.model placeholder="Deschutes River State Recreation Area" required=true class="form-control"}}
    </Modal>

    <!-- <SiteFooter @buttonText="Reset State" />
  </main>
</div> -->
